name: check

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy, rustfmt
          targets: thumbv7em-none-eabihf
      - uses: pd-rs/get-playdate-sdk@0.3.3
        with:
          version: 2.1.1
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack@0.6,just@1,cargo-msrv@0.15
      - run: cargo install playdate-bindgen --features cli
      - run: cargo install cargo-playdate
      - run: just verify
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      RUSTFLAGS: "-D warnings"
      RUSTDOCFLAGS: "-D warnings"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy, rustfmt
          targets: thumbv7em-none-eabihf
      - uses: pd-rs/get-playdate-sdk@0.3.3
        with:
          version: 2.1.1
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack,just,cargo-deny
      - run: cargo install playdate-bindgen --features cli
      - run: just lint doc
